@import './theme.scss';


.main-container {
    @include themed() {
        ul.MuiList-root {
            padding-top: 0;
            height: 59vh;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 15px;
            li.messages-list-item {
                height: 100px;
                margin: 10px 5px;
                border: none;
                border-radius: 25px;
                &:last-child {
                    margin-bottom: 25px;
                }
                &.read {
                    .message-left {
                        .message-heading {
                            color: #19141F;
                            font-weight: 100;
                        }
                        .message-overflow {
                            color: #19141F;
                            font-weight: 100;
                            width: 75%;
                        }
                        .new-message-icon {
                            display: none;
                        }
                    }
                }
                &.unread {
                    .message-left {
                        .message-heading {
                            color: #285943;
                            font-weight: 800;
                        }
                        .message-container {
                            position: relative;
                            .message-overflow {
                                color: #285943;
                                font-weight: 800;
                                width: 75%;
                            }
                            .new-message-icon {
                                position: absolute;
                                color: #285943;
                                right: 0;
                                top: 0;
                            }
                        }
                    }
                }
                div.list-item-button {
                    padding-right: 15px;
                    width: 100%;
                    overflow: hidden;
                    background-color: t('bg');
                    border-radius: 25px;
                    box-shadow: t('box-shadow');
                    .message-heading {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-align: left;
                        letter-spacing: 0px;
                        color: t('inbox-text-color');
                        opacity: 0.85;
                        .time-stamp {
                            font-size: 10px;
                            font-style: italic;
                            white-space: nowrap;
                        }
                    }
                    .message-overflow {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: t('inbox-text-color');
                    }
                    .for-date {
                        margin-left: 15px;
                    }
                    p {
                        margin-bottom: 5px;
                    }
                    &.active {
                        background-color: t('logo-bg');
                    }
                }
            }
        }

        .message-placeholder {
            height: 50vh;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .pagination {
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
            button.MuiIconButton-root {
                padding: 0;
                color: t(text)
            }
        }
        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            svg {
                color: t('text');
            }
        }
        .row.messages-list .MuiListItemSecondaryAction-root,
        .MuiListItemSecondaryAction-root .MuiButtonBase-root,
        .MuiListItemSecondaryAction-root .MuiButtonBase-root > * {
            position: absolute;
        }

        .clouds {
            margin-top: 20px;
        }

        .cloudOne {
            top: 319px;
            left: 576px;
            width: 131px;
            height: 94px;
            margin-bottom: -30px;
            margin-left: 113px;
        }

        .cloudTwo {
            top: 392px;
            left: 724px;
            width: 93px;
            height: 67px;
            margin-left: 262px;
            margin-bottom: 3px;
        }

        .cloudThree {
            top: 457px;
            left: 626px;
            width: 63px;
            height: 45px;
            margin-bottom: -20px;
            margin-left: 163px;
        }

        .cloudText {
            top: 556px;
            left: 529px;
            width: 354px;
            height: 71px;
            margin-top: 70px;
            margin-left: 50px;
            text-align: center;
            letter-spacing: 0px;
            color: #78C3FB;
            opacity: 1;
        }

        .row.messages-list .message-right {
            width: 66%;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            .message-heading {
                background-color: t('logo-bg');
                padding: 10px 15px;
            }
            .message {
                padding: 10px 15px;
                background-color: t('logo-bg');
            }
            .address {
                display: flex;
                button {
                    padding: 0 5px;
                }
                p {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}

@media (min-width: 769px) {
    .pagination {
        max-width: 1080px;
        margin: 0 auto;
    }
    ul.MuiList-root {
        padding-top: 55px;
    }
    .message-left {
        overflow: hidden;
        margin-left: 3%;
    }
    
}