@import './theme.scss';

.main-container {
    @include themed() {
        .form-container {
            background: t('box-bg');
            box-shadow: t('box-shadow');
            border-radius: 25px 10px 85px 25px;
            margin-bottom: 35px;
            form {
                padding-top: 15px;
                position: relative;
                .MuiFormControl-root {
                    width: 100%;
                    .MuiOutlinedInput-root {
                        margin: 5px 0;
                        input {
                            box-sizing: inherit;
                            font-size: 12px;
                            color: t('text');
                            background-color: t('text-field-color');
                            border: 1px solid t('text-field-color');
                            border-radius: 32px;
                            height: 50px;
                            left: 489px;
                            margin-bottom: 40px;
                        }
                        fieldset {
                            display: none;
                        }
                    }
                    .MuiInputBase-multiline {
                        box-sizing: inherit;
                        font-size: 12px;
                        color: t('text');
                        background-color: t('bg');
                        border: 1px solid t('text');
                        border-radius: 4px;
                    }
                }
                .address-list {
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    div.MuiButtonBase-root {
                        margin: 2px 0;
                        background-color: t('bg');
                        color: t('text');
                        border: 1px solid t('text');
                    }
                } 
                .estimated-reward {
                    top: 933px;
                    left: 514px;
                    width: 255px;
                    height: 23px;
                    text-align: left;
                    font: normal normal normal 20px/23px Karla;
                    letter-spacing: 0px;
                    color: t('bar-color');
                    opacity: 1;
                    margin-top: 12px;
                    margin-left: 35px;
                }
                .yellow-bar {
                    position: absolute;
                    top: 122px;
                    width: 90%;
                    transform: translateX(-5%);
                    left: 10%;
                    border: 4px solid #F5B700;
                    opacity: 0.8;
                    border-radius: 13px;
                }
                .wrapper {
                    border: 1px solid t('text-field-color');
                    background-color: t('text-field-color');
                    border-radius: 25px 25px 84px 25px;
                    margin-bottom: 50px;
                    .rdw-editor-toolbar {
                        border-radius: 25px;
                        background-color: rgba(255, 255, 255, 0.5);
                        border: none;
                        mix-blend-mode: soft-light;
                        width: 97%;
                        margin: 22px auto 0 auto;
                        .rdw-option-wrapper, 
                        .rdw-dropdown-wrapper {
                            border: none;
                            background-color: transparent;
                        }
                    }
                }
                .editor {
                    min-height: 250px;
                    padding: 15px;
                }
                .send-btn {
                    font-size: 12px;
                    color:  #F5B700;
                    background-color:  #F5B700;
                    border: 1px solid  #F5B700;
                    border-radius: 50%;
                    width: 88px;
                    height: 88px;
                    position: absolute;
                    margin-bottom: 35px;
                    .MuiLoadingButton-loadingIndicator {
                        color: black;
                        .MuiCircularProgress-root {
                            width: 32px !important;
                            height: 32px !important;
                        }
                    }
                    
                }
                .send-papper-airplane {
                    margin-right: 17px;
                    height: 47px;
                }
                .MuiLoadingButton-loadingIndicator {
                    color: t('text');
                    position: relative;
                    left: 0;
                    transform: none;
                }
            }
        }
    }
}

@media (min-width: 769px) {
    .form-container {
        @include themed() {
            form {
                .address-list {
                    display: inline-block;
                }
                .wrapper {
                    margin-bottom: 0;
                }
            }
        }
    }    
}