@import './theme.scss';

.content-box.full-height.home {
    flex-direction: column;
    .tiles-container {
        @include themed() {
            .tile {
                .tile-content {
                    background-color: t('stake-bg');
                    border-radius: 25px;
                    min-height: 210px;
                    font-size: 2vh;
                    padding: 28px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    .MuiButtonBase-root {
                        text-transform: none;
                        color: t('text');
                        font-size: 2vh;
                        justify-content: flex-start;
                        white-space: nowrap;
                        .MuiButton-startIcon {
                            margin-bottom: 5px;
                            margin-right: 15px;
                            span.MuiIcon-root {
                                height: auto;
                                width: auto;
                            }
                        }
                    }
                    a {
                        text-decoration: none;
                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .home-bottom {
        a {
            color: #000;
        }
    }
}

.app-container {
    .main-container {
        .content-box.full-height.home {
            align-items: flex-start;
        }
    }
}