@import './theme.scss';

.app-container {
    @include themed() {
        .container{
            min-height: 55vh;
            
            .heading-card {
                font-size: 24px;
                border: 0;
                box-shadow: none;
                background-color: t('bg');
                color: t('text');
                margin-bottom: 25px;
                color: #D64933;
                padding: 50px;
                h4 {
                    .logo {
                        padding-right: 15px;
                    }
                }
            }
            .card-container {
                background-color: t('logo-bg');
                color: t('text');
                box-shadow: t('box-shadow');
                margin: 15px;
                .tab-container {
                    width: 100%;
                    .tab-btn {
                        width: 100%;
                        color: t('text');
                    }
                }
            }
            .submit-btn {
                font-size: 12px;
                color: t('text');
                background-color: t('bg');
                border: 1px solid t('text');
                border-radius: 4px;
            }
            .amount-row {
                align-items: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .cards-grid {
        height: 69vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
