@import './theme.scss';

.stepper {
    padding-top: 25px;
    @include themed() {
        .MuiStepLabel-label {
            font-size: 18px;
            color: t('text')
        }
        svg.Mui-active {
            color: #809bce;
            text {
                color: #2b2235;
            }
        }
        svg.Mui-completed {
            color: t('text');
            text {
                color: t('text');
            }
        }
    }
}

.button-box {
    &.left {
        float: left;
    }
    &.right {
        float: right;
    }
    @include themed() {
        .init-btn {
            font-size: 16px;
            color: t('text');
            background-color: t('bg');
            border: 2px solid #F5B700;
            border-radius: 33px;
            box-shadow: none;
            padding: 10px 40px;
        }
    }
}