
.app-container {
    .theme-switcher {
        transform: rotate(90deg);
        padding: 9px;
    }
}

.theme--classic {
    .theme-switcher {
        .MuiSwitch-switchBase {
            color: #91C499;
        }
        .Mui-checked+.MuiSwitch-track{
            background-color: #EBD1C8;
        }
    }
}

.theme--dark {
    .theme-switcher {
        .MuiSwitch-switchBase {
            color: #D64933;
        }
        .MuiSwitch-track {
            background-color: #19141F;
        }
    }
}