$text--light: #19141F;
$text--dark: #F2E9DC;
$bg--light: #FFEEE8;
$bg--dark: #2B2235;
$logo-bg--dark: #1F1826;
$logo-bg--light: #E6D6D1;
$box-shadow--dark: 0px 3px 25px #0F0B13;
$box-shadow--light: 4px 0px 11px #1A152054;
$text-field-big-box--dark:  #271F30 0% 0% no-repeat padding-box;
$text-field-big-box--light: #E6D6D1 0% 0% no-repeat padding-box;
$text-field-color--dark: #1B1521;
$text-field-color--light: #a79a97cd;
$inbox-text-color--dark: #91C499;
$git-hub-logo--dark: #F2E9DC40;
$git-hub-logo--light: #C7BAB5;
$text-status--light: #285943;
$text-status--dark: #91C499;

$themes: (
    classic: (
        bg: $bg--light,
        text: $text--light,
        pagination: $text--dark,
        logo-bg: $logo-bg--light,
        box-shadow: $box-shadow--light,
        box-bg: $text-field-big-box--light,
        text-field-color: $text-field-color--light,
        inbox-text-color: $text--light,
        git-hub-logo: $git-hub-logo--light,
        unreaded: $text-status--light,
    ),
    dark: (
        bg: $bg--dark,
        text: $text--dark,
        logo-bg: $logo-bg--dark,
        box-shadow: $box-shadow--dark,
        box-bg: $text-field-big-box--dark,
        text-field-color: $text-field-color--dark,
        inbox-text-color: $inbox-text-color--dark,
        git-hub-logo: $git-hub-logo--dark,
        unreaded: $text-status--dark,
    ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}